.container{
    @apply py-[4rem]
}
.inneContainer{
    @apply  relative overflow-hidden
}
.productsContainer {
    @apply flex gap-[2rem] mt-[3rem] overflow-x-scroll pb-2;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Hide scrollbar on Webkit browsers */
    -webkit-scrollbar-width: none;
}
.productCard{
  min-width: 546px !important;
  height: 470px;
  padding: 38px 33px 38px 33px;
  border-radius: 15px;
}
.image{
    @apply w-[100%] h-[12rem;]
}
.ComingSoonCard{
  @apply  bg-[var(--move-background)] flex justify-center items-center;
}
.ComingSoonCard h1{
  @apply uppercase;
  font-size: 40px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-white);
}
.ActiveCard{
  border: 1px solid var(--blue-border);
}
.imageCint{
  @apply rounded-[1rem] overflow-hidden;
}
.image{
  @apply transition duration-500 relative;
}
.productCard:hover .image{
  transform: scale(1.05);
}
.productCard:hover .image p{
    @apply bg-black/10;
}
.image p{
    @apply absolute w-full h-full top-0 transition duration-500 ;
}
.botton{
    @apply transition duration-500;
    padding: 10px;
    border-radius: 41px;
    background-color: var(--light-black-bg);
    font-size: 15px;
    font-weight: 500;
    color: var(--text-blue)
}
.productCard:hover .botton{
    background-color: var(--orange-background);
    color: var(--text-white)
}
.name{
    @apply text-[1.2rem] w-fit mt-[2rem] capitalize;
}
.botton1{
    @apply text-[1.8rem] font-[800];
}
.botton1:hover{
    background-color: var(--light-black-bg) !important;
    color: var(--text-blue) !important;
}
.text{
    @apply flex items-end justify-between h-[7.5rem];
}
.text p{
    @apply w-[80%] text-justify text-[var(--text-black-lt)];
    font-size: 1.1rem;
    font-weight: 400;
}
.leftbtn{
 @apply absolute  transition duration-500 -left-6 top-[50%];  
    padding: 10px;
    border-radius: 41px;
    font-size: 30px;
    font-weight: 500;
    background-color: var(--orange-background);
    color: var(--text-white)
}
.rightbtn{
    @apply absolute transition duration-500 bg-red-900 -right-6 top-[50%]; 
    padding: 10px;
    border-radius: 41px;
    font-size: 30px;
    font-weight: 500;
    background-color: var(--orange-background);
    color: var(--text-white)
}
.rightbtn:hover, .leftbtn:hover{
    background-color: var(--light-black-bg);
    color: var(--text-blue)
}
.productsContainer::-webkit-scrollbar {
    width: 2px; /* Adjust as needed */
    height: 2px; /* Adjust as needed */
}

.productsContainer::-webkit-scrollbar-track {
background-color: var(--light-black-bg);
}

.productsContainer::-webkit-scrollbar-thumb {
background-color: var(--orange-background);
border-radius: 4px;
}

.productsContainer::-webkit-scrollbar-thumb:hover {
background: var(--orange-background);
}
/* //////////////////////////////////////// */

@media screen and (max-width: 550px) {
    .container{
        @apply pt-[2rem] pb-[0rem]
    }
    .productsContainer {
        @apply flex gap-[2rem] mt-[3rem];
    }
    .productCard{
      min-width: 273px !important;
      height: 235px;
      padding: 11px 10px 11px 10px;
      border-radius: 10px;
    }
    .ComingSoonCard{
      @apply flex justify-center items-center;
    }
    .ComingSoonCard h1{
      @apply uppercase;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
    .imageCint{
      @apply rounded-[0.5rem];
    }
    .image{
        @apply w-[100%] h-[6rem;]
    }
    .botton{
        padding: 4px 10px;
        border-radius: 41px;
        font-size: 10px;
        font-weight: 500;
    }
    .name{
        @apply text-[0.9rem] w-fit mt-[0.2rem] rounded-tl-none;
    }
    .botton1{
        @apply text-[1.8rem] font-[800] p-[4px];
    }
    .text{
        @apply h-[5rem];
    }
    .text p{
        @apply w-[80%] ;
        font-size: 0.7rem;
        font-weight: 400;
    }
    .leftbtn{
     @apply -left-6 top-[55%];  
        font-size: 15px;
    }
    .rightbtn{
        @apply -right-6 top-[55%]; 
        font-size: 15px;
       
    }
  
}