@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.copyright{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-align: center;
}
.hr{
    border-top: solid 0.1rem var(--line-dark);
}
.container{
    @apply bg-[var(--footer-bg)]
}
.innercontainer2{
    @apply flex pt-[4rem] gap-[5rem];
}
.logoText{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-ash-lt);
}
.footernav{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-ash-lt);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 5rem;
    align-items: flex-end;
}
.borderRight{
    border-right: 0.1rem var(--line-dark) solid;
    padding-right: 3rem;
}
.navItem{
    display: flex;
    gap: 3rem;
}
.socials{
    @apply flex gap-[2rem] text-[var(--text-orange)] text-[3rem] m-auto justify-center
}