.container{
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
    padding: 8rem 0rem;
    position: relative;
}  
.container::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 100000000000000000;
    background-image: url('/images/curvybg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.innerContainer{
    @apply flex;
}
.herotext{
    font-size: 80px;
    font-weight: 600;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 800;
    color: var(--text-black);
    padding-bottom: 1rem;
}
.herotext span{
    font-style: italic;
    font-weight: 400;
    color: var(--text-orange);
}
.herotextMini{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-black);
    width: 40rem;
}
.imageConatiner{
    @apply flex justify-between items-end pb-[1rem];
    flex-basis: 60%;
}
.explorebtn{
    @apply mt-[1rem];
    position: relative;
    z-index: 1000;
}
.textContainer{
    flex-basis: 40%;
    padding-top: 2rem;
}
.presser {
    z-index: 0;
    position: relative;
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 5%);
  }
  .presser1{
    position: relative;
    z-index: 0;
    width: 40rem ;
    height: 35rem;
  }
.rope{
    @apply mb-[5rem];
}


  
  @media screen and (max-width: 1180px) {
    .container{
        background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
        padding: 4rem 0rem 8rem 0rem;
        position: relative;
    }  
    .container::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 100000000000000000;
        background-image: url('/images/curvybg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .innerContainer{
        @apply flex;
        max-width: 100vw !important;
    }
    .herotext{
        font-size: 55px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        font-size: 800;
        color: var(--text-black);
        padding-bottom: 1rem;
    }
    .herotext span{
        font-style: italic;
        font-weight: 400;
        color: var(--text-orange);
    }
    .herotextMini{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-black);
        width: 100%;
    }
    .imageConatiner{
        @apply flex gap-[1rem] justify-center items-end pb-[1rem];
        /* flex-grow: 1; */
        flex-basis: 50%
    }
    .explorebtn{
        @apply mt-[1rem];
    }
    .textContainer{
        flex-basis: 60vw;
        /* width: 50%; */
        padding-top: 2rem;
    }
    .presser {
        
        mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 5%);
      }
      .presser1{
        width: 32rem ;
        height: 28rem;
      }
    
    .rope{
        @apply hidden;
    }
    
  }

  /* ////////////////////////////////////// */
  @media screen and (max-width: 1000px) {
    .container{
        background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
        padding: 6rem 0rem 4rem 0rem;
        position: relative;
    }  
    .container::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 100000000000000000;
        background-image: url('/images/curvybg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .innerContainer{
        @apply flex flex-col;
    }
    .herotext{
        font-size: 80px;
        font-weight: 600;
        line-height: 94px;
        letter-spacing: 0em;
        text-align: left;
        font-size: 800;
        color: var(--text-black);
        padding-bottom: 1rem;
    }
    .herotext span{
        font-style: italic;
        font-weight: 400;
        color: var(--text-orange);
    }
    .herotextMini{
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-black);
        width: 40rem;
    }
    .imageConatiner{
        @apply flex justify-between items-end pb-[1rem] -mt-[3rem];
        flex-basis: 60%;
    }
    .explorebtn{
        @apply mt-[1rem];
    }
    .textContainer{
        flex-basis: 40%;
        padding-top: 2rem;
    }
    .presser {
        
        mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 5%);
      }
      .presser1{
        width: 100%;
        height: auto;
        aspect-ratio: 1;
      }
    .rope{
        @apply mb-[5rem];
    }
    
    
  }
@media screen and (max-width: 650px) {
    .container{
        background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
        padding: 4rem 0rem 5rem 0rem;
        position: relative;
    }  
    .container::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 100000000000000000;
        background-image: url('/images/curvybg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .innerContainer{
        @apply flex flex-col;
    }
    .herotext{
        font-size: 44px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        font-size: 800;
        color: var(--text-black);
        padding-bottom: 1rem;
    }
    .herotext span{
        font-style: italic;
        font-weight: 400;
        color: var(--text-orange);
    }
    .herotextMini{
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-black);
        width: 85%;
    }
    .imageConatiner{
        @apply flex justify-between items-end pb-[1rem] -mt-[3rem];
        flex-basis: 60%;
    }
    .explorebtn{
        @apply mt-[1rem] py-[1rem] px-[3rem];
    }
    .textContainer{
        flex-basis: 40%;
        padding-top: 2rem;
    }
    .presser {
        
        mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%);
      }
      .presser1{
        width: 100%;
        height: auto;
        aspect-ratio: 1.2;
        transform: scale(1.1)
      }
    .rope{
        @apply mb-[5rem];
    }
    
    
    /* .container{
        background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
        padding: 0rem 0rem 0rem 0rem;
        position: relative;
        font-size: 50%;
    }  
    .container::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 100000000000000000;
        background-image: url('/images/curvybg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .innerContainer{
        @apply flex;
    }
    .herotext{
        font-size: 80px;
        font-weight: 600;
        line-height: 94px;
        letter-spacing: 0em;
        text-align: left;
        font-size: 800;
        color: var(--text-black);
        padding-bottom: 1rem;
    }
    .herotext span{
        font-style: italic;
        font-weight: 400;
        color: var(--text-orange);
    }
    .herotextMini{
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-black);
        width: 40rem;
    }
    .imageConatiner{
        @apply flex justify-between items-end pb-[1rem];
        flex-basis: 60%;
    }
    .explorebtn{
        @apply mt-[1rem];
    }
    .textContainer{
        flex-basis: 40%;
        padding-top: 2rem;
    }
    .presser {
        
        mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 5%);
      }
      .presser1{
        width: 40rem ;
        height: 35rem;
      }
    .rope{
        @apply mb-[5rem];
    }
    .container{
        background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
        padding: 8rem 0rem;
        position: relative;
        font-size: 50%;
    }   */
}