.container{
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(43, 67, 213, 0.1));
    padding: 8rem 0rem;
    position: relative;
}  
.container::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 100000000000000000;
    background-image: url('/images/curvybg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.innerContainer{
    @apply flex;
}
.herotext{
    font-size: 80px;
    font-weight: 600;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 800;
    color: var(--text-black);
    padding-bottom: 1rem;
}
.herotext span{
    font-style: italic;
    font-weight: 400;
    color: var(--text-orange);
}
.herotextMini{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-black);
    width: 40rem;
}
.imageConatiner{
    @apply flex justify-between items-end pb-[1rem];
    flex-basis: 60%;
}
.explorebtn{
    @apply mt-[1rem];
}
.textContainer{
    flex-basis: 40%;
    padding-top: 2rem;
}
.presser {
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 5%);
  }