@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: transparent;
}
:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --orange-background: #FE7131;
  --white-bg-main:  #FFFFFF;
  --move-background: rgba(45, 72, 237, 0.5);
  --light-black-bg: #EFEFEF;



  /* text */
  --text-orange-dk: #E07748;
  --text-ash-lt: #808080;
  --text-black: #000000;
  --text-orange: #FE7131;
  --text-white: #FFFFFF;
  --text-black-9: #1C1C1C;
  --text-blue: #2B43D5;
  --text-black-lt: #3A3A3A;


  
  /* components */
  --dark-border: #808080;
  --footer-bg: #F9F9F9;
  --white-bg: white;

  /* line */
  --line-dark: #808080;
  --line-orange: #FE7131;

  /* borders */
  --blue-border: #2B43D4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.width{
  max-width: 92rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.btn1{
  transition-duration: 200ms;
  width: Fixed (188px);
  height: Fixed (60px);
  top: 420px;
  padding: 1rem 4rem;
  border-radius: 10px;
  gap: 10px;
  background-color: var(--orange-background);
  color: var(--text-white);
}
.btn1:hover{
  background-color: transparent;
  color: var(--orange-background);
  border: 0.1rem solid var(--orange-background);
}
.btn2{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  padding: 2rem 5rem;
  border-radius: 20px;
  background-color: var(--white-bg-main);
  color: var(--text-orange);
}
.btn2:hover{
  @apply transition duration-500;
  background-color: var(--orange-background);
  color: var(--text-white);
}
.title{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--text-ash-lt);
  margin-bottom: 1rem;
  text-transform: capitalize;
}
