@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* text */
  --text-orange-dk: #E07748;
  --text-ash-lt: #808080;

  /* components */
  --dark-border: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.width{
  max-width: 86rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
